@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css");

.bg-green {
    background-color:#5cc7b2;
    width: 100%;
}

#logo {
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

#login {
    margin-top: 10px;
    text-align: center;
}

.informacion {
    align-items: center;
    justify-content: center;
}


.caja {
    background-color: #5cc7b2;
}


#portada {
    padding-top: 40px;
}

#correspondencia {
    padding-top: 60px;    
}

#buscar {
    padding-top: 40px;
}

.tittle { 
    padding-top: 160px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#home {
    height: calc(100vh-56px);
    background: linear-gradient(90deg, #D7E1EC, #FFFFFF);
}

.iconbox {
    display: flex;
    align-items: center;
    justify-content: center;
}