{% extends 'core/base.html' %}


{% block content %}
  <div id="home" class="container-fluid">
    <div id="portada" class="row">
      <div class="d-none d-md-block col-1"></div>
      <div class="d-none d-md-block col-5">
        {% load static %}
        <link rel="stylesheet" href={% static 'core/img/portada.png' %}>
        <img src={% static 'core/img/portada.png' %} class="" alt="cajas">
      </div>
      <div class="col-5 tittle">
        <h1>Gestión de correspondencia </h1>
      </div>
      <div class=" d-none d-md-block col-1"></div>
    </div>


    <div id="buscar" class="row">
        <div class="col-2"></div>
        <div class="col-8 search">
          <h1>Lista de correspondencias recibidas por conserjería</h1>

          <form method="get">
            <div id="custom-search-input">
              <div class="input-group col-md-12">
                <input type="text" class="form-control transparent-input" placeholder="Buscar residencia.." name="buscar">
                <span class="input-group-list">
                  <i class="icon icon-search"></i>
                </span>
                <button type="submit" class="btn btn-outline-success">Buscar</button>

              </div>
            </div>

          </form>
        </div>
        <div class="col-2"></div>
    </div>

    <div id="correspondencia" class="row">
      <div class="col-2"> </div>
      <div class="col-8">
        <div class="row" style="display: flex;">
        {% for correspondencia in correspondencias %}

        
          <div class="col-md-auto" style="width: 50%;">
            <div class="card mb-3 caja">
              
              <div class="card-header">
                <h5 class="card-title">Correspondencia para: {{ correspondencia.destinatario }}</h5>
              </div>
              <div class="row col-md">
                <div class="col-md-6">
                  <div class="card-body informacion">
                      <p class="card-text"> Remitente: {{ correspondencia.remitente }}</p>
                      
                      {% if correspondencia.estado == 'P' %}
                        <p style="color: yellow;">Estado: Pendiente</p>
                      {% else %}
                        <p style="color: rgb(76, 255, 67);">Estado: Entregado</p> 
                      {% endif %}

                      <p>Residencia: {{ correspondencia.nroResidencia }}</p>
                      <p class="card-text"><small class="">Recepcionado por {{correspondencia.conserje}} <br>
                        la fecha {{ correspondencia.fechaRecepcion }}</small></p>
                    
                  </div>
                </div>
                <div class="col-md-6 iconbox">
                  {% load static %}
                  <link rel="stylesheet" href={% static 'core/img/box-96.png' %}>
                  <img src={% static 'core/img/box-96.png' %} class="box" alt="caja">
                </div>
              </div>
            
            </div>
          </div>
        {% endfor %}
        </div>
      </div>

      <div class="col-2"></div>
    </div>
  </div>
{% endblock %}